@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@100&display=swap" rel="stylesheet');

.container{
  background-image: url('/img/contact-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .form{
    background: #E2E2E2;
    color: black;
    width: 500px;
    height: auto;
    margin: 20px;
    .form__title{
      color: #F1C50E;
      font-size: 30px;
      font-family: 'Oswald', sans-serif;
      align-items: center;
      margin: auto;
      padding-bottom: 40px;
    }
    label{
      display: block;
      margin: 10px 0 0 0;
      color: #111111;
      margin-left:20px;
      text-align: left;
      font-size: 20px;
      font-family: 'Oswald', sans-serif;
      margin-right: 20px;
    }
    input, textarea{
      display: block;
      width: 90%;
      height: 2rem;
      margin: 0.5rem 0;
      padding: 0 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      background: #ccc;
      color: black;
      margin-left: 20px;
    }
    .form__button{
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px;

      button{
        background: #EAC60B;
        width: 250px;
        height: 60px;
        font-size: 25px;
        cursor: pointer;
        letter-spacing: 1px;
        border: none ;
        padding-bottom: 0;
        margin:auto;

      }
      button:hover{
        background: rgb(240, 207, 45);
      }
    }

  }
}
