@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@100&display=swap" rel="stylesheet');

.container{
  color: black;
  ul {
    list-style: none;
    padding: 0;
  }
  .header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    h1{
      margin: 0;
      padding: 0;
    }
    .header__img1{
      width: 120px;
      height: 120px;
      background: #F1C50E;
      padding-top: 12px;
      padding-left: 12px;
      border-radius: 50%;
    }
    .header__title{
      color: #F1C50E;
      font-size: 48px;
      font-family: 'Oswald', sans-serif;
      margin-left: 20px;
      margin-bottom: 0;
    }
  }
  .info__services{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    background: white;
    height: auto;
    h3{
      margin: 0;
    }
    .info__list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      
    }
    .info__services__users{
      width: 350px;
      height: auto;
      padding: 30px;
      background: white; 
      margin-top: 10px;
      margin-bottom: 10px;
      border:solid 1px #F1C50E;

      background-color: rgba(255, 255, 255, 1);
      color: #000;
      border-radius: 5px;
      box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.22),
      -16px -16px 0px -1px rgba(241,197,14,1) inset;
      h4{
        margin-top: 0;
      }
      .info__services__users__name{
        color:#F1C50E;
        font-size: 24px;
        font-family: 'Oswald', sans-serif;
      }
      .info__services__users__description{
        color: #808080;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 600;
        font-style: italic;
      }
    }
  }
}