@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@100&display=swap" rel="stylesheet');

.container{
  background-image: url('/img/registroTecnico.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  .title{
    color: #F1C50E;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    background: rgb(226, 226, 226);
    width: 500px;
    margin: auto;
    h1{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 50px;
    }
    button{
      border: none;
      background-color: transparent;
      padding-top: 20px;
      cursor: pointer;
    }
  }
.form{
  color: black;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 500px;
  margin: auto;
  background: rgb(226, 226, 226);
  label{
    display: block;
    margin: 10px 0 0 0;
    color: #111111;
    margin-left:20px;
    text-align: left;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-right: 20px;
  }

  input{
    display: block;
    width: 90%;
    height: 2rem;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background: #ccc;
    color: black;
  }
  .form__input{
    margin-left: 30px;
    text-align: center;
    button{
      background: #EAC60B;
      width: 250px;
      height: 60px;
      margin: auto;
      color: white;
      font-size: 25px;
      cursor: pointer;
      letter-spacing: 1px;
      margin: 30px auto 60px;
      border: none ;
      padding-bottom: 0;
      margin-bottom: 10px;
      margin-left: 0;
    }
    p{
      color: #111111;
      font-size: 30px;
      font-family: 'Oswald', sans-serif;
      margin-left: 20px;
      margin-bottom: 30px;
      font-weight: bold;
      margin-left: 0;
      text-decoration-line: underline overline ;
    }
    a{
      color: #111111;
    }
  }

}
}